COVIDQnAFlow-LogicApps.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"question":{"type":"string"}}}}}},"actions":{"HTTP":{"runAfter":{},"type":"Http","inputs":{"method":"POST","uri":"https://covid-qna-pva.azurewebsites.net/qnamaker/knowledgebases/7ac66d34-d39c-4739-9617-08418806f962/generateAnswer","headers":{"Authorization":"EndpointKey c5799670-81c5-4e5d-85c4-62f2a4e7179a","Content-Type":"application/json"},"body":{"question":"@{triggerBody()?['question']}"}}},"Parse_JSON":{"runAfter":{"HTTP":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('HTTP')","schema":{"type":"object","properties":{"answers":{"type":"array","items":{"type":"object","properties":{"questions":{"type":"array","items":{"type":"string"}},"answer":{"type":"string"},"score":{"type":"number"}},"required":["questions","answer","score"]}}}}}},"Response":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":200,"headers":{"Content-Type":"application/json"},"body":{"answer":"@{body('Parse_Json')?['answers'][0]['answer']}","score":"@{body('Parse_Json')?['answers'][0]['score']}"},"schema":{"type":"object","properties":{"answer":{"type":"string"},"score":{"type":"integer"}}}}}}},"parameters":{},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":366},"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Medium"}}}}}]}